<?xml version="1.0"?>
<!--
/**
 * Copyright © Panca, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="panca" translate="label">
            <label>Panca Extensions</label>
        </tab>
        <section id="hide_price" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Hide Price</label>
            <tab>panca</tab>
            <resource>Panca_HidePrice::config_hide_price</resource>
            <group id="general" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Hide Price</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="price_text" translate="label" type="textarea" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1"  canRestore="1">
                    <label>Replace price with text</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>Text shown instead of price</comment>
                </field>
                <field id="customer_group" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hide Price for customer group</label>
                    <source_model>Panca\HidePrice\Model\Config\Source\Group</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="disable_add_to_cart" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Disable 'Add To Cart'</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>NOTE: This setting is independent of 'Enable Hide Price'</comment>
                </field>
            </group>
            <group id="price_load" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration for price loading</label>
                <comment>Define which prices are loaded when prices are hidden on the front page</comment>
                <depends>
                    <field id="enabled">1</field>
                </depends>
                <field id="load_base_price" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Load Base Price</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="load_tier_price" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Load Tier Price</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="load_minimal_price" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Load Minimal Price</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="load_final_price" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Load Final Price</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
